<%= render "devise/shared/error_messages", resource: resource %>
<%= render "devise/shared/links" %>

<div data-sign-up-modal-target="modal" id="authentication-modal" tabindex="-1" class="flex bg-gray-200 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center" aria-modal="true" role="dialog">
  <div class="relative p-4 w-full max-w-md h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-gray-100 rounded-lg shadow-md">
      <%= link_to new_session_path(resource_name), class: "absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" do %>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      <% end %>

      <div class="py-6 px-6 lg:px-8">
        <h3 class="mb-1 text-3xl font-semibold text-gray-900 dark:text-white">Sign Up</h3>

        <h4 class="mb-4">It's quick and easy.</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= form.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "mt-3 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50", placeholder: "Email address" %>
          </div>

          <div class="field">
            <%= form.password_field :password, autocomplete: "new-password", required: true, class: "mt-3 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50", placeholder: "New password" %>
          </div>

          <div class="field">
            <%= form.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "mt-3 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50", placeholder: "Confirm password" %>
          </div>

          <%= form.fields_for :profile, resource.build_profile do |profile_form| %>
            <div class="flex gap-x-2.5 mt-3">
              <%= profile_form.text_field :first_name, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50", placeholder: "First name", required: true %>

              <%= profile_form.text_field :last_name, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50", placeholder: "Last name", required: true %>
            </div>

            <p class="mt-3 text-xs">Birthday</p>

            <div class="flex gap-4">
              <%= profile_form.date_select :birth_date, { use_short_month: true, order: [:month, :day, :year], start_year: 1900, end_year: Time.now.year, prompt: true }, { class: "select-dropdown mt-0.5 appearance-none relative block px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-gray-500 focus:z-10 sm:text-sm bg-gray-50 flex-1", required: true } %>
            </div>
          <% end %>

          <%= form.submit "Sign Up", class: "mt-6 mx-auto block text-white bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-md text-xl px-12 py-1.5 text-center" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
