<%= turbo_frame_tag comment do %>
  <div class="mt-2 bg-gray-200 w-fit rounded-md px-2 py-1">
    <div class="text-lg font-medium flex">
      <%= render comment.commenter %>
    </div>

    <div class="w-fit">
      <%= comment.body %>
    </div>
  </div>

  <div class="flex items-center gap-x-4">
    <%= render "likes/button", likeable: comment %>

    <% if comment.likes.any? %>
      <div class="flex gap-x-1">
        <%= render "likes/count", likeable: comment %>
      </div>
    <% end %>
  </div>
<% end %>
