<div data-controller="comment-options" data-action="mouseover->comment-options#hovered mouseleave->comment-options#unhovered" class="hover:bg-gray-100 rounded-lg relative py-0.5">
  <%= turbo_frame_tag comment do %>
    <div class="mt-2 flex items-center space-x-2 pr-2">
      <%= link_to comment.commenter, data: { turbo_frame: "_top" }, class: "rounded-full self-start mt-2.5 ml-2 shrink-0" do %>
          <%= image_tag comment.commenter.profile.gravatar_photo_url, size: "36", class: "rounded-full" %>
      <% end %>

      <div class="bg-gray-200 rounded-lg shadow px-3 py-2 relative">
        <div class="text-lg font-medium flex">
          <div class="flex space-x-2 items-center">
            <%= link_to comment.commenter, data: { turbo_frame: "_top" } do %>
              <%= comment.commenter.profile.first_name %> <%= comment.commenter.profile.last_name %>
            <% end %>
          </div>
        </div>

        <% if comment.body.split.any? { |word| word.length > 40 } %>
          <div class="break-all">
            <% if comment.body.length > 100 %>
              <div data-controller="long-content">
                <div data-long-content-target="truncated">
                  <%= truncate comment.body, length: 100, separator: " ", omission: " ... " %>
                  <%= button_tag "See more", type: "button", class: "text-gray-500 hover:underline", data: { action: "long-content#clicked" } %>
                </div>

                <div data-long-content-target="full" class="hidden">
                  <%= comment.body %>
                </div>
              </div>
            <% else %>
              <div>
                <%= comment.body %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="break-words">
            <% if comment.body.length > 100 %>
              <div data-controller="long-content">
                <div data-long-content-target="truncated">
                  <%= truncate comment.body, length: 100, separator: " ", omission: " ... " %>
                  <%= button_tag "See more", type: "button", class: "text-gray-500 hover:underline", data: { action: "long-content#clicked" } %>
                </div>

                <div data-long-content-target="full" class="hidden">
                  <%= comment.body %>
                </div>
              </div>
            <% else %>
              <div>
                <%= comment.body %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if comment.likes.any? %>
          <div class="absolute right-[-8px] bottom-[-8px] border-black rounded-lg px-1 bg-gray-300 shadow">
            <div class="flex gap-x-1 text-sm">
              <%= render "likes/count", likeable: comment %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="min-w-[36px] flex justify-center">
        <% if comment.commenter == current_user || comment.post.author == current_user %>
          <div data-comment-options-target="menu" class="hidden relative">
            <button data-action="comment-options#toggle" type="button" class="rounded-full flex items-center hover:bg-gray-200 shadow p-0.5">
              <%= image_tag "icons/horizontal-dots.svg", size: "30", class: "rounded-full" %>
            </button>

            <div data-comment-options-target="dropdown" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10">
              <% if comment.commenter == current_user %>
                <%= link_to "Edit", edit_comment_path(comment), class: "flex-1 flex px-4 py-2 hover:bg-gray-200" %>
              <% end %>

              <%= button_to "Delete", comment, method: :delete, form_class: "block text-gray-700 hover:bg-gray-200 flex p-0", class: "flex-1 flex px-4 py-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex items-center w-fit ml-12">
      <%= render "likes/button", likeable: comment %>

      <div data-controller="comment-time" data-action="mouseover->comment-time#hovered mouseleave->comment-time#unhovered">
        <div class="text-sm text-gray-400 w-8 ml-2 mt-1 text-center hover:underline cursor-default">
          <%= time_ago_in_words comment.updated_at.localtime, scope: "datetime.distance_in_words.short" %>
        </div>

        <div data-comment-time-target="fullTime" class="w-fit shadow rounded p-1 absolute left-[-1.75rem] bottom-[-1.75rem] bg-white border border-gray-200 text-xs z-10 hidden">
          <%= comment.updated_at.localtime.strftime("%A, %B %e, %Y at %l:%M %p") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
