<div data-controller="comment-options" data-action="mouseover->comment-options#hovered mouseleave->comment-options#unhovered" class="hover:bg-gray-100 rounded-lg relative">
  <%= turbo_frame_tag comment do %>
    <div class="mt-2 flex items-center space-x-2 pr-2">
      <div class="bg-gray-200 w-fit rounded-lg shadow px-3 py-2 relative">
        <div class="text-lg font-medium flex">
          <%= render comment.commenter %>
        </div>

        <div class="break-words">
          <%= comment.body %>
        </div>

        <% if comment.likes.any? %>
          <div class="absolute right-[-8px] bottom-[-8px] border-black rounded-lg px-1 bg-gray-300 shadow">
            <div class="flex gap-x-1 text-sm">
              <%= render "likes/count", likeable: comment %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="min-w-[36px] flex justify-center">
        <% if comment.commenter == current_user || comment.post.author == current_user %>
          <div data-comment-options-target="menu" class="hidden">
            <button data-action="comment-options#toggle" type="button" class="rounded-full flex items-center hover:bg-gray-200 shadow p-0.5">
              <%= image_tag "icons/horizontal-dots.svg", size: "30", class: "rounded-full" %>
            </button>

            <div data-comment-options-target="dropdown" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10">
              <% if comment.commenter == current_user %>
                <%= link_to "Edit", edit_comment_path(comment), class: "flex-1 flex px-4 py-2 hover:bg-gray-200" %>
              <% end %>

              <%= button_to "Delete", comment, method: :delete, form_class: "block text-gray-700 hover:bg-gray-200 flex p-0", class: "flex-1 flex px-4 py-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex items-center w-fit">
      <%= render "likes/button", likeable: comment %>

      <div data-controller="comment-time" data-action="mouseover->comment-time#hovered mouseleave->comment-time#unhovered">
        <div class="text-sm text-gray-400 w-8 ml-2 mt-1 text-center hover:underline cursor-default">
          <%= time_ago_in_words comment.updated_at.localtime, scope: "datetime.distance_in_words.short" %>
        </div>

        <div data-comment-time-target="fullTime" class="w-fit shadow rounded p-1 absolute left-[-1.75rem] bottom-[-1.75rem] bg-white border border-gray-200 text-xs z-10 hidden">
          <%= comment.updated_at.localtime.strftime("%A, %B %e, %Y at %l:%M %p") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
