<%= turbo_frame_tag @comment do %>
  <div class="mt-2 flex items-center space-x-2">
    <div class="bg-gray-200 w-fit rounded-lg shadow px-3 py-2 relative">
      <div class="text-lg font-medium flex">
        <%= render @comment.commenter %>
      </div>
      <div class="w-fit">
        <%= form_with model: @comment, class: "flex flex-col" do |form| %>
          <%= form.text_area :body, rows: 2, class: "focus:outline-none bg-gray-300 resize-none w-full rounded p-2 shadow-inner", placeholder: "Write a comment...", required: true %>
          <%= form.hidden_field :post_id, value: @comment.post.id %>

          <div class="flex justify-between">
            <%= link_to "Cancel", @comment, class: "mt-[1.75rem] py-2 bg-gray-200 hover:bg-gray-100 focus:bg-gray-300 rounded-md py-1 shadow w-1/3 text-center" %>

            <%= form.submit "Update", class: "mt-[1.25rem] py-2 bg-gray-200 hover:bg-gray-100 focus:bg-gray-300 rounded-md py-1 shadow w-1/3 self-end" %>
          </div>
        <% end %>
      </div>
      <% if @comment.likes.any? %>
        <div class="absolute right-[-8px] bottom-[-10px] border border-black rounded-lg px-1  bg-gray-300">
          <div class="flex gap-x-1 text-sm">
            <%= render "likes/count", likeable: @comment %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex items-center w-fit">
    <%= render "likes/button", likeable: @comment %>

    <div class="ml-3 mr-2 text-sm text-gray-400 w-8 mt-1 text-center"><%= time_ago_in_words @comment.updated_at.localtime, scope: "datetime.distance_in_words.short" %></div>
  </div>
<% end %>
