<% if likeable.is_a?(Post) %>
  <% if likeable.likers.include?(current_user) %>
    <% like = current_user.likes.find_by(likeable: likeable) %>

    <%= button_to like_path(like), method: :delete, class: "flex-1 flex justify-center items-center space-x-2 hover:bg-gray-200 rounded-md py-1 text-sm", form_class: "flex" do %>
      <%= image_tag "icons/like.svg", size: "20" %>

      <p class="pt-[2px]">Unlike</p>
    <% end %>
  <% else %>
    <%= button_to likes_path, params: { like: { likeable_id: likeable.id, likeable_type: likeable.class.to_s } }, class: "flex-1 flex justify-center items-center space-x-2 hover:bg-gray-200 rounded-md py-1 text-sm", form_class: "flex" do %>
      <%= image_tag "icons/like.svg", size: "20" %>

      <p class="pt-[2px]">Like</p>
    <% end %>
  <% end %>
<% elsif likeable.is_a?(Comment) %>
  <% if likeable.likers.include?(current_user) %>
    <% like = current_user.likes.find_by(likeable: likeable) %>

    <%= button_to "Unlike", like_path(like), method: :delete, class: "flex-1 text-start hover:underline text-sm font-medium", form_class: "w-11 ml-3 mt-1" %>
  <% else %>
    <%= button_to "Like", likes_path, params: { like: { likeable_id: likeable.id, likeable_type: likeable.class.to_s } }, class: "flex-1 text-start hover:underline text-sm font-medium", form_class: "w-11 ml-3 mt-1" %>
  <% end %>
<% end %>
