<%= turbo_frame_tag post do %>
  <div class="mt-8 p-8 rounded-lg shadow-lg bg-gray-50" data-controller="comment-form">
    <div class="flex justify-between relative items-center">
      <div class="flex space-x-2">
        <%= link_to post.author, data: { turbo_frame: "_top" }, class: "rounded-full" do %>
          <%= image_tag post.author.profile.gravatar_photo_url, size: "44", class: "rounded-full" %>
        <% end %>

        <div class="flex flex-col">
          <div class="text-xl font-medium">
            <%= link_to post.author, data: { turbo_frame: "_top" } do %>
              <%= post.author.profile.first_name %> <%= post.author.profile.last_name %>
            <% end %>
          </div>

          <div data-controller="post-time" class="text-xs">
            <div data-action="mouseover->post-time#hovered mouseleave->post-time#unhovered" class="text-gray-400 w-fit hover:underline cursor-default">
              <%= time_ago_in_words(post.updated_at.localtime) %> ago
            </div>
            <div data-post-time-target="fullTime" class="w-fit shadow rounded p-1 absolute left-[-2.75rem] bottom-[-1.75rem] bg-white hidden border border-gray-200">
              <%= post.updated_at.localtime.strftime("%A, %B %e, %Y at %l:%M %p") %>
            </div>
          </div>
        </div>
      </div>

      <% if post.author == current_user %>
        <div data-controller="post-options" data-post-options-target="menu" class="relative">
          <button data-action="post-options#toggle" type="button" class="rounded-full hover:bg-gray-200 flex p-1">
            <%= image_tag "icons/horizontal-dots.svg", size: "30", class: "rounded-full" %>
          </button>

          <div data-post-options-target="dropdown" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10">
            <% if post.author == current_user %>
              <%= link_to "Edit", edit_post_path(post), class: "flex-1 flex px-4 py-2 hover:bg-gray-200" %>
            <% end %>

            <%= button_to "Delete", post, method: :delete, form_class: "block text-gray-700 hover:bg-gray-200 flex p-0", class: "flex-1 flex px-4 py-2" %>
          </div>
        </div>
      <% end %>
    </div>

    <p class="mt-8 text-justify w-fit">
      <%= post.content %>
    </p>

    <div class="mt-8">
      <%= render "posts/counts", post: %>
    </div>

    <div class="mt-2 p-0.5 flex justify-around border-y border-gray-300 space-x-0.5">
      <div class="flex-1">
        <%= render "likes/button", likeable: post %>
      </div>

      <%= button_tag class: "flex-1 flex justify-center items-center space-x-2 hover:bg-gray-200 rounded-md py-1 text-sm", data: { action: "comment-form#clicked" } do %>
        <%= image_tag "icons/comment.svg", size: "20", class: "pt-1" %>
        <p class="pt-[2px]">Comment</p>
      <% end %>
    </div>

    <% if post.comments.any? %>
      <div class="mt-4">
        <%= render post.comments.order(updated_at: :desc).limit(10) %>
      </div>
    <% end %>

    <div class="mt-4 hidden" data-comment-form-target="form">
      <%= render "comments/form", post: %>
    </div>
  </div>
<% end %>
