<div class="flex flex-col min-h-screen">
  <%= render "shared/navbar" %>
  <div class="flex flex-1 bg-gray-200">
    <div class="flex-1 basis-[30%]">
      <div class="m-4 ml-8 p-4 h-[87vh] rounded-lg sticky top-[96px]">
      </div>
    </div>

    <div class="flex-1 basis-[40%] mt-24 space-y-4 mb-[28px]">
      <%= render "posts/form" %>

      <%= turbo_frame_tag "posts", class: "space-y-4" do %>
        <%= render @posts %>
      <% end %>
    </div>

    <div class="flex-1 basis-[30%]">
      <div class="m-4 mr-8 sticky top-[96px]">
        <div class="rounded-lg shadow-lg bg-gray-50 p-8">
          <div class="mb-6 text-lg font-medium w-fit">
            Friend Requests
          </div>

          <%= render @friend_requests %>
        </div>

        <div class="mt-4 rounded-lg shadow-lg bg-gray-50 p-8">
          <div class="mb-6 text-lg font-medium w-fit">
            Friends
          </div>

          <div class="mt-4 space-y-4 w-fit flex flex-col">
            <%= render @friends %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
