<div class="flex flex-col min-h-screen">
  <%= render "shared/navbar" %>
  <div class="flex flex-1 bg-gray-200">
    <div class="flex-1 basis-[25%]">
      <div class="m-4 ml-8 p-4 h-[87vh] rounded-lg shadow bg-gray-50 sticky top-[96px]">
      </div>
    </div>

    <div class="flex-1 basis-[50%] mt-24 space-y-4 mb-[28px]">
      <%= render "posts/form" %>

      <% @posts.each do |post| %>
        <div class="mx-4 p-8 text-justify rounded-lg shadow bg-gray-50">
          <%= link_to user_path(@user), class: "text-xl font-medium" do %>
            <%= post.author.profile.first_name %>
            <%= post.author.profile.last_name %>
          <% end %>

          <p class="mt-8">
            <%= post.content %>
          </p>

          <div class="mt-8 p-1 flex justify-around border-y border-stone-400 space-x-1">
            <%= render "likes/button", likeable: post %>

            <%= button_to "#", class: "flex-1 flex justify-center items-center space-x-2 hover:bg-gray-200 rounded-md py-2", form_class: "flex-1 flex" do %>
              <%= image_tag "icons/comment.svg", size: "20", class: "pt-1" %>
              <p class="pt-[2px]">Comment</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex-1 basis-[25%]">
      <div class="m-4 mr-8 p-4 h-[87vh] rounded-lg shadow bg-gray-50 sticky top-[96px]">
      </div>
    </div>
  </div>
</div>

<% if false %>
<h2 class="text-2xl">Other Users</h2>
<br>
<% @other_users.each do |other_user| %>
  <p>
    <%= other_user.username %>

    <% if other_user.pending_friends.include?(@user) %>
      <%= button_to "Cancel Friend Request", friend_request_path, params: { friend_request: { sender_id: @user, receiver_id: other_user } }, method: :delete, class: "bg-gray-300 rounded p-1" %>
    <% elsif @user.pending_friends.include?(other_user) %>
      <%= button_to "Accept Friend Request", friendships_path, params: { friendship: { user_id: @user, friend_id: other_user } }, class: "bg-gray-300 rounded p-1" %>
    <% elsif @user.friends.include?(other_user) %>
      <%= button_to "Unfriend", friendship_path, params: { friendship: { user_id: @user, friend_id: other_user } }, method: :delete, class: "bg-gray-300 rounded p-1" %>
    <% else %>
      <%= button_to "Add Friend", friend_requests_path, params: { friend_request: { sender_id: @user, receiver_id: other_user } }, class: "bg-gray-300 rounded p-1" %>
    <% end %>
  </p>
  <br>
<% end %>
<% end %>
